@import url('https://fonts.googleapis.com/css?family=Lora|Raleway:400,600,700');

:root {
    --black: rgba(0, 0, 0, 0.87);
    --black-grey: rgba(0, 0, 0, 0.54);
    --white: rgba(255, 255, 255, 0.87);
    --white-grey: rgba(255, 255, 255, 0.54);
    --gradient: linear-gradient(to bottom right, #3B6BB4, #31B0E5, #15B3BB);
    --gradient-reverse: linear-gradient(to top right, #3B6BB4, #31B0E5, #15B3BB);
    --coreline: #31B0E5;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
}

body {
    background: #FAFAFA;
}

header, main, .footer-wrapper, .overlay-content {
    max-width: 1200px;
    width: calc(100vw - 100px);
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.header-project, .img-wrap, .color-wrap {
    height: 100vh;
}

.overlay-content {
    height: calc(100vh - 40px);
}

.overlay-nav {
    height: 100vh;
    width: 100vw;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom left, rgba(49, 176, 229, 0.95), rgba(0, 0, 0, 0.95));
    transition: .3s cubic-bezier(.25, .8, .25, 1);
    overflow-y: scroll;
}

.overlay-content {
    position: relative;
}

.overlay-content nav {
    margin-top: 15vh;
}

nav ul, .social ul {
    list-style-type: none;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: var(--white-grey);
    font-size: 2.25rem;
    font-weight: 600;
    margin-bottom: 15px;
    transition: .3s cubic-bezier(.25, .8, .25, 1);
}

nav a:hover {
    color: var(--white);
}

.active-link {
    color: var(--white);
}

.small-link {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.social ul {
    padding-right: 5px;
    display: flex;
}

.social a {
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    padding-right: 20px;
    transition: .3s cubic-bezier(.25, .8, .25, 1);
    opacity: 0.54;
}

.social a:hover {
    opacity: 0.87;
}

.social li:last-child a {
    padding-right: 0;
}

header .social {
    position: absolute;
    bottom: 5vw;
    right: 0;
}

header h1 {
    font-size: 4.5rem;
    font-weight: 700;
    color: var(--black);
    padding-right: 20px;
}

.title {
    margin: 75px 0 50px;
    grid-column: 1 / -1;
    text-align: center;
}

.logo {
    height: 40px;
    margin-top: 40px;
}

.color-wrap .logo {
    display: grid;
    grid-template-rows: 40px;
    grid-template-columns: repeat(3, max-content);
    align-items: center;
    column-gap: 15px;
}

.logo a, .coreline {
    height: 100%;
}

.headline {
    width: 60vw;
    max-width: 1200px;
}

.header-full .headline {
    grid-column: 1 / -1;
    position: relative;
    margin: 20vh auto;
}

.header-project .headline {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.color-wrap h1 {
    text-align: center;
    color: var(--white);
    margin-bottom: 25px;
}

h2, .action a, .action button {
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    position: relative;
    display: inline-block;
}

h2 {
    color: var(--black);
    margin: 100px 0 25px;
}

.action {
    display: block;
    text-align: right;
    padding-top: 25px;
}

.action a, .action button {
    color: var(--black-grey);
    text-decoration: none;
}

.action button {
    border: none;
    background: transparent;
    cursor: pointer;
}

h2:after, .action a:before, .action button:before {
    content: '';
    position: absolute;
    height: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
}

h2:after {
    border-bottom: 2px solid var(--black);
    left: 100%;
    margin-left: 20px;
}

.action a:before, .action button:before {
    border-bottom: 2px solid var(--coreline);
    right: 100%;
    margin-right: 20px;
    transition: .3s cubic-bezier(.25, .8, .25, 1);
}

.action a:hover:before, .action button:hover:before {
    margin-right: 50px;
}

.projects-grid {
    margin: 50px 0;
    display: grid;
    grid: auto-flow auto / repeat(2, 1fr);
    gap: 50px;
}
}

.projects.starred h2 {
    margin-top: 0;
}

.projects .article {
    border-radius: 10px;
    position: relative;
    display: flex;
    text-decoration: none;
}

.project {
    border-radius: 10px;
    display: grid;
    column-gap: 30px;
    width: 100%;
}

.project-lg {
    grid-template-columns: 2fr 3fr;
    align-items: center;
}

.project-md {
    grid-template-columns: 1fr;
}

.article-lg {
    grid-column: 1 / -1;
}

.project-lg .desc {
    padding: 75px 10px 75px 100px;
}

.project-md .desc {
    padding: 50px 50px 0;
}

.project-md .desc p {
    display: none;
}

.project-md .desc h3 {
    text-align: center;
}

.project .screen {
    align-self: end;
    display: inline-grid;
    align-items: end;
}

.project .screen img {
    width: 100%;
}

.project h3 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 20px;
}

.project p, .color-wrap p {
    font-size: 1rem;
    color: var(--white);
    line-height: 1.75rem;
    font-family: 'Lora', serif;
}

.svg {
    place-self: center;
}

.svg img {
    height: 150px;
    max-width: 100%;
}

.positions .svg img {
    height: 100px;
}

.offer article {
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
}

.offer article .desc {
    position: relative;
}

.offer article .desc:before {
    content: '';
    height: calc(100% + 50px);
    position: absolute;
    width: 50vw;
    z-index: -1;
    background: var(--gradient);
    transform: translate(-23px, -25px);
}

.offer article:first-of-type .desc:before {
    border-top-left-radius: 10px;
}

.offer article:last-of-type .desc:before {
    background: var(--gradient-reverse);
    border-bottom-left-radius: 10px;
}

.offer h3 {
    font-size: 2.25rem;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 25px;
}

.about p, .positions p, .post p, .content p, .project-content p {
    font-size: 1rem;
    color: var(--black-grey);
    line-height: 1.75rem;
    font-family: 'Lora', serif;
}

.offer p {
    font-size: 1rem;
    color: var(--white);
    line-height: 1.75rem;
    font-family: 'Lora', serif;
}

p + p {
    margin-top: 25px !important;
}

footer {
    margin-top: 150px;
    background: var(--black);
    color: var(--white);
}

h4 {
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
    position: relative;
    display: inline-block;
    color: var(--white);
    margin: 75px 0 30px;
}

.left-h4:after, .right-h4:before {
    content: '';
    position: absolute;
    height: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    border-bottom: 2px solid var(--white);
}

.left-h4:after {
    left: 100%;
    margin-left: 20px;
}

.right-h4:before {
    right: 100%;
    margin-right: 20px;
}

.footer-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 75px;
}

.footer-left p {
    white-space: pre-line;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.social img {
    width: 20px;
}

.footer-down {
    grid-column: 2 / 3;
    text-align: right;
    margin-bottom: 40px;
    font-size: 0.875rem;
}

.who {
    grid-area: who;
}

.who-f {
    grid-area: who-f;
    place-self: center;
}

.what {
    grid-area: what;
}

.what-f {
    grid-area: what-f;
    place-self: center;
}

.team {
    grid-area: team;
    display: grid;
    grid: auto-flow minmax(50px, auto) / repeat(3, 1fr);
    gap: 50px 30px;
}

.team span {
    grid-column: 1 / -1;
}

.about {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
        'who who . who-f who-f'
        'what-f what-f . what what'
        'team team team team team';
}

.about p {
    margin-top: 50px;
}

.teammate {
    margin-top: 50px;
}

.teammate img {
    width: 100%;
    filter: grayscale(100%);
}

.teammate img:hover {
    filter: grayscale(0);
    transition: .3s cubic-bezier(.25, .8, .25, 1);
}

.name {
    display: block;
    font-weight: 700;
    font-size: 1.875rem;
    color: var(--black);
    margin: 20px 0 5px;
}

.job {
    display: block;
    font-weight: 600;
    font-size: 0.875rem;
    color: var(--black-grey);
    letter-spacing: 0.78px;
    text-transform: uppercase;
}

.contact {
    width: 50vw;
    margin: 0 auto;
}

.contact form {
    margin-bottom: 50px;
}

.contact input[type="text"], .contact input[type="email"], .contact textarea {
    width: 100%;
    border: 0;
    background: transparent;
    border-bottom: 2px solid var(--black-grey);
    font-size: 1.125rem;
    padding: 15px 20px;
    margin-bottom: 60px;
    resize: none;
    box-sizing: border-box;
    outline: 0 !important;
    border-radius: 0 !important;
}

.contact input:focus, .contact textarea:focus {
    border-bottom: 2px solid var(--coreline);
    outline: 0 !important;
    border-radius: 0 !important;
}

.contact label {
    font-size: 1.125rem;
}

.check-cont {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    margin-bottom: 50px;
}

.check-cont input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 12px;
    width: 12px;
    border: 2px solid var(--black-grey);
    background-color: #FFF;
    padding: 3px;
}

.check-cont input:checked ~ .checkmark {
    background: var(--gradient);
    background-clip: content-box;
}

.company-info p {
    color: var(--black-grey);
    margin-top: 50px;
    white-space: pre-line;
}

.company-info p:first-line {
    color: var(--black);
    font-weight: 700;
}

.positions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

.positions .h2, .positions .action {
    grid-column: 1 / -1;
}

.positions article {
    margin: 50px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 30px;
}

.positions h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--black);
    margin-bottom: 15px;
}

.nav-icon {
    width: 36px;
    height: 36px;
    position: relative;
    margin-top: 44px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .6s cubic-bezier(.25, .8, .25, 1);
    -moz-transition: .6s cubic-bezier(.25, .8, .25, 1);
    -o-transition: .6s cubic-bezier(.25, .8, .25, 1);
    transition: .6s cubic-bezier(.25, .8, .25, 1);
    cursor: pointer;
    z-index: 3;
    justify-self: end;
}

.nav-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--black);
    border-radius: 5px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .3s cubic-bezier(.25, .8, .25, 1);
    -moz-transition: .3s cubic-bezier(.25, .8, .25, 1);
    -o-transition: .3s cubic-bezier(.25, .8, .25, 1);
    transition: .3s cubic-bezier(.25, .8, .25, 1);
}

.color-wrap .nav-icon span {
    background: var(--white);
}

.nav-icon span:nth-child(1) {
    top: 5px;
}

.nav-icon span:nth-child(2), .nav-icon span:nth-child(3) {
    top: 15px;
}

.nav-icon span:nth-child(4) {
    top: 25px;
}

.nav-icon.open span {
    background: var(--white);
}

.nav-icon.open span:nth-child(1) {
    top: 10px;
    width: 0;
    left: 50%;
}

.nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.nav-icon.open span:nth-child(4) {
    top: 10px;
    width: 0;
    left: 50%;
}

.elevation-2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    transition: .3s cubic-bezier(.25, .8, .25, 1);
}

.elevation-2dp:hover {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}

.post {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    margin: 50px 0 100px;
}

.feat-img img {
    width: 100%;
}

.desc a {
    color: var(--black);
    text-decoration: none;
}

.post h3 {
    font-size: 2.25rem;
    font-weight: 700;
    color: var(--black);
    margin-bottom: 10px;
}

.info {
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--black-grey);
    letter-spacing: 0.78px;
    margin-bottom: 25px;
    display: inline-block;
}

.post-title.title {
    margin-bottom: 25px;
}

.post-title.title h1 {
    font-size: 4rem;
}

header .info {
    margin-bottom: 75px;
    text-align: center;
}

.content, .project-content {
    max-width: 700px;
    margin: 0 auto;
}

.content p {
    margin: 25px 0;
}

.content h3 {
    font-size: 3rem;
    margin: 50px 0 25px;
}

.content figure {
    margin: 50px 0;
}

.content img {
    width: 100%;
}

@media (max-width: 960px) {

    .project-lg {
        grid-template-columns: 1fr;
    }

    .project-lg .desc {
        padding: 50px 50px 0;
    }

    .project-lg .desc p {
        display: none;
    }

    .project-lg .desc h3 {
        text-align: center;
    }

    .offer article {
        grid-template-columns: 1fr;
        row-gap: 30px;
        margin: 50px 0 75px;
    }

    .offer article .desc:before {
        display: none;
    }

    .offer h3 {
        color: var(--black);
    }

    .offer p {
        color: var(--black-grey);
    }

    .projects-grid {
        grid-template-columns: 1fr;
    }

    .about {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
                'who'
                'who-f'
                'what'
                'what-f'
                'team';
        row-gap: 50px;
    }

    .contact {
        width: 80vw;
    }

    .positions {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }

    .post {
        grid-template-columns: 1fr;
        row-gap: 30px;
        margin: 50px 0 100px;
    }

    .content, .project-content {
        width: 80vw;
    }

    header, main, .footer-wrapper, .overlay-content, .cookie-wrapper {
        width: calc(100vw - 75px);
    }

    .logo-resize img, .logo-w-resize img {
        display: none;
    }

    .logo-resize:before {
        content: url('assets/logo-icon-color.svg');
        display: inline-block;
        width: 40px;
    }

    .logo-w-resize:before {
        content: url('assets/logo-icon.svg');
        display: inline-block;
        width: 40px;
    }

    .overlay-content nav {
        margin-top: 10vh;
    }

    .headline {
        width: 80vw;
    }

    header h1, .post-title.title h1 {
        font-size: 3rem;
    }

    .project h3, .content h3 {
        font-size: 2.25rem;
    }

    .action {
        text-align: center;
    }

    .action a, .action button {
        color: var(--black-grey);
        text-decoration: none;
        border-bottom: 2px solid var(--coreline);
    }

    h2:after, .action a:before, .left-h4:after, .right-h4:before, .action button:before {
        display: none;
    }

    .positions article {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }

    .team {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-wrapper {
        grid-template-columns: 1fr;
    }

    .footer-down {
        grid-column: 1 / -1;
    }

    .footer-right {
        align-items: flex-start;
    }

    .right-h4 {
        margin-top: 0;
    }

    .svg img {
        max-width: 100%;
    }

    .footer-down {
        text-align: left;
    }
}

@media only screen and (max-width: 420px) {
    .projects-grid {
        margin: 50px -25px;
    }

    .projects-grid .project .desc {
        padding: 20px 20px 0;
    }

    .team {
        grid-template-columns: 1fr;
    }

    .headline h1 {
        font-size: 2.25rem;
    }
}